body{
    font-family: 'Baloo 2', cursive;
}

#principal{
    min-height: 500px;
    background-size: cover;
    background-image: url('https://www.hypeness.com.br/1/2018/01/DeathStar3.jpg');
    padding-top: 150px;
    padding-left: 40px;
}


#principal h1{
    font-size: 70px;
    color: aliceblue;
}
#principal h2{
    font-size: 45px;
    color: gray;
}

#contato{
    background-color: rgb(18, 16, 16);
    padding: 30px 45px;
}